*{
    margin: 0;
    padding: 0;
}

body{
    background: #efefef;
    font-family: sans-serif;
}

.box{
    text-align: center;
    margin: 100px auto 50px;
}
.box p{
    margin-top: 10px;
    line-height: 24px;
}

.profile{
    width: 240px;
    height: 240px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: aliceblue;
    box-shadow: 0 10px 10px 10px rgba(18, 20, 21, 0.1);
    padding: 25px;
    position: relative;
    transition: .5s;
}
.profile img{
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    transition: 0.5s;
}
.profile h3{
    margin-top: 25px;
    margin-bottom: 5px;
    color: #2196f3;
}

small{
    color: rgb(134, 127, 127);
}
.social-box{
    background: #2196f3;
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 3px;

}

.social-box .fa{
    margin: 5px;
    color: aliceblue;
    cursor: pointer;
}
.profile p{
    text-align: center;
    line-height: 20px;
    color: #5c571c;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}

.profile img:hover{
    width: 250px;
}

.profile:hover{
    background: #2196f3;
}


.profile:hover h3{
    color: aliceblue;
}

.profile:hover small{
    color: #eddddd;
}

.profile:hover p{
    color: #eddddd;
}
.profile:hover .social-box{
    background: #fff;
}

.profile:hover .social-box .fa{
    color: #2196f3;
}






























